<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".jsx" mimeType="application/javascript" />
      <mimeMap fileExtension=".ts" mimeType="application/javascript" />
      <mimeMap fileExtension=".tsx" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
      <add name="iisnode" path="src/api/server.ts" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://app.samhealth.co.za" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, PATCH, OPTIONS, HEAD" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept, Origin, X-Requested-With" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>